//global styles and change variable values

// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$jungle-green: #1F2421;
$forest-green: #49A078;
$eton-blue: #9CC5A1;
$skobeloff: #216869;
$platinum: #DCE1DE;
$orange-peel: #FFA62B;
$slate-gray : #1A5657;
$cadet-blue : #63A4A5;
$purple : #711958;
$beau-blue : #C6E0FF;


$bg-img: url(/assets/vct.png);

$light: $platinum;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$link: $platinum;

// Update some of Bulma's component variables

// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;


// Set custom global styles (will be applied to whole app)

html {
    background: $bg-img center;
    background-size: cover;   
}

html, body {
    height: 100%;
}
.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.modal-box{
    min-height: 200px ;
    width: 100%;
    max-width: 36vw;
    background-color: $skobeloff;
    border-radius: 8px;
    padding: 35px;
}
.title{
    color: $platinum;
}
.input{
    background-color: $cadet-blue;
    border: none;
}

.btn1, .btn2{
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    color: $platinum;
}
.btn1{
    background-color: $slate-gray;
    &:hover{
        color: red;
    }
}
.btn2{
    background-color: $purple;
    &:hover{
        background-color: #63144c;
    }
}