//global styles and change variable values

// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$jungle-green: #1F2421;
$forest-green: #49A078;
$eton-blue: #9CC5A1;
$skobeloff: #216869;
$platinum: #DCE1DE;
$orange-peel: #FFA62B;

$bg-img: url(/assets/bg2.jpg);

$light: $platinum;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$link: $platinum;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Set custom global styles (will be applied to whole app)

html {
    background: $bg-img center;
    background-size: cover;   
}

html, body {
    height: 100%;
}


/**
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.white-box {
    padding: 35px;
    background: white;
    border-radius: 5px;

    width: 350px;
    max-width: 350px;
    
}
**/