
@import '../../../main-style.scss';


.task-manager-container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 55vw;
    max-height: 70vh;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 42px;
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px;
    background-color: $skobeloff;
}
.tasks-list-container{
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
    padding: 42px;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
    background-color: $cadet-blue;
}
.title{
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $platinum;
}
.list-menu{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;
    .list-menu-item{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: black;
        margin-bottom:5px ;

        &:hover{
            background: rgba(255, 255, 255, 0.123);
        }
        &.is-active{
            background-color:$slate-gray;
            color: white;
        }
    }

}
.button{
    color: black;
    background-color: $purple;
    border: none;
    &:hover{
        background-color:#63144c;
    }
}

.task{
    background-color: rgba(255, 255, 255, 0.158);
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
    transition: box-shadow 0.2s ease, transform 0.2s ease ;
    cursor: pointer;

    &:not(.complete){
        &:active{
            transform: scale(0.95);
        }
        &:hover{
            box-shadow: 0 0 0 5px #fcfcfc4b;
        }
    }
    &.complete{
        text-decoration: line-through;
        opacity: 0.5;
    }
}

.circle-add-button{
    height: 50px;
    width: 50px;
    background: $purple;
    position: absolute;
    border-radius: 50%;
    bottom: 25px;
    right: 25px;
}
svg{
    color: white;
}