<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>List 1</p>
                </a>
                <a class="list-menu-item">
                    <p>List 1</p>
                </a>
                <a class="list-menu-item">
                    <p>List 1</p>
                </a>
            </div>

            <button class="button">New List</button>

        </div>

        <div class="tasks-list-container">
            <h1 class="title">
                Tasks
            </h1>
            <!--Task elements-->
            <div class="task">
                <p>This is something</p>
            </div>
            <div class="task">
                <p>This is something</p>
            </div>
            <div class="task complete">
                <p>This is something</p>
            </div>
        </div>
    </div>
</div>